body{
    margin: 0;
    padding: 0;
  }
  .banner{
    background: url(admin_assets/img/1.jpg);
    background-size: cover;
    height: 100vh;
  }
    header{
      padding: 5px 30px 0px;
      background-color: rgba(225,225,225,0.6);
    }
    .hat{
      float: left;
      display: inline-block;
    }
    .title-color{
      text-transform: uppercase;
      color: #ff4181;
    }
    .search_my{
      float: right;
      border:3px #000 solid;
    }
    .search1{
      border: none;
      backgroundd-color: none;
      width: 150px;
      background-color: transparent;
    }
    .button1{
      color: #fff;
      background-color: #000;
      border: none;
      height: 40px;
      width: 40px;
    }

    .nav1{
      background-color: #faf9fa;
    }
    .navbar{
     padding: 0px; 
    }
    .navbar-nav li{
      font-size: 17px;
      padding: 15px 60px!important;
    }
    .navbar-nav li a:hover{
      border-right: 3px solid #ff4f81;
      border-left: 3px solid #ff4f81;
      transition: 0.5s all;
    }
    .navbar-light .navbar-nav .navbar-link{
      color: #000;
    }
    .lecture{
      background-color: #000;
      padding-bottom: 80px;
    }
    .lecture h1{
      color: #fff;
      letter-spacing: 12px;
      text-transform: uppercase;
      padding: 80px 0px 20px;
    }
    .l-img{
      width: 100%;
      position: relative;
      display: block;
      overflow: hidden;
      transition: 0.5s all;
      -webkit-transition:0.5s all;
      -ms-transition:0.5s all;
      -moz-transition:0.5s all;
      -o-transition:0.5s all;
      opacity: 1;
      filter: alpha(opacity=100);
    } 
    .l-img img{
      width: 100%;
    }
    .l-img:hover{
      cursor: pointer;
    } 
    .l-img:hover .l-caption{
      transform: translateY(0%) scale(1);
      -webkit-transform:translateY(0%) scale(1);
      -ms-transform:translateY(0%) scale(1);
      -moz-transform:translateY(0%) scale(1);
      -o-transform:translateY(0%) scale(1);
    }
    .l-caption{
      background-color: rgba(1,4,6,0.45);
      position: absolute;
      button:0;
      left: 0;
      padding:15px 20px;
      right: 0;
      text-align: center;
      z-index: 99;
      transition: 0.5s all;
      -webkit-transition:0.5s all;
      -ms-transition:0.5s all;
      -o-transition:0.5s all;
      transform: translateY(150%) scale(1.5);
      -webkit-transform:translateY(150%) scale(1.5);
      -ms-transform:translateY(150%) scale(1.5);
      -o-transform:translateY(150%) scale(1.5);
    }
    .l-caption ul{
      display: inline-block;
      margin: 0px;
      padding: 0px;
    }
    .l-caption ul li{
      display: inline-block;
    }
    .l-caption ul li a {
      background-color: #fff;
      border-radius: 50%;
      color: #095888;
      display: inline-block;
      margin: 0px;
      height: 28px;
      text-align: center;
      line-height: 30px;
      width: 28px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -ms-transition: 0.5s text-emphasis-color;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }
    .l-info{
      text-align: center;
      border: 1px solid #000;
      padding: 5px 5px 0px 5px;
    }
    .l-info p{
      font-size: 15px;
      letter-spacing: 2px;
      color: #fff;
    }
    .l-info h5{
      font-size: 15px;
      letter-spacing: 1.5px;
      color: #fff;
    }
    #back-to-top{
      position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 9999;
      width: 40px;
      height: 40px;
      text-align: center;
      background: url(admin_assets/img/AYO PIKNIK.png);
      color: #444;
      cursor: pointer;
      border: none;
      text-decoration: none;
      background-size: 40px;
      opacity: 0;
    }
    #back-to-top.show{
      opacity: 1;

    }
    @media(max-width: 1200px){
      .navbar-nav li{
        font-size: 15px;
      }
    }
    @media(max-width: 992px){
      .navbar-toggler{
        margin: 10px 0px 10px 30px;
        background-color: #fff;
        border-color: #ff4f81;
      }
      .navbar-toggler:hover .navbar-toggler:focus{
        background-color: #fff;
        border-color: #ff4f81;
      }
      .navbar-light{
        background-color: #fff;
      }
      .navbar-nav li a{
        text-align: center;
        background-color: aliceblue;
      }
      .navbar-nav li a:hover{
        background-color: #ff4f81;
      }
    }

    .galery h1{
      color: #000;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      padding-top: 80px;
      padding-bottom: 30px;
    }
    .galery-grids{
      padding: 0px 15px;
    }
    .galeri_grid_img{
      padding: 0;
    }